In [3]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, mean_squared_error#, neg_mean_squared_error
np.random.seed(42)

data = pd.read_csv("train.csv")

#data_with_h = data
#data_without_h = data.drop("humidity", axis=1)
X1 = data.drop(["s.s.temp."], axis=1)
y1 = data["s.s.temp."]

X1.humidity.fillna(value=np.mean(X1.humidity), inplace=True)
X1["zon.winds"].fillna(value=np.mean(X1["zon.winds"]), inplace=True)
X1["mer.winds"].fillna(value=np.mean(X1["mer.winds"]), inplace=True)
X1["air temp."].fillna(value=np.mean(X1["air temp."]), inplace=True)

clf = RandomForestRegressor(n_jobs=-1)

X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.09)
#Making grid of hyperparameters for GridSearchCV
grid = {
    'n_estimators': [200, 300],
    'max_depth': [None, 10],
    'min_samples_split': [5, 7],
    'min_samples_leaf': [1, 2]
}

scorer=make_scorer(mean_squared_error, greater_is_better=False)
# Doing Grid Search
gs_clf = GridSearchCV(estimator=clf,
                      param_grid=grid,
                      cv=7,
                      scoring=scorer,
                      n_jobs=-1,
                      verbose=2)

gs_clf.fit(X_train, y_train)
gs_clf.score(X_test, y_test)

Fitting 7 folds for each of 16 candidates, totalling 112 fits

-0.09390456417179623

In [13]:
#print(X1)
testing_labels = pd.read_csv("data_1997_1998.csv")
testing_labels = testing_labels.drop(['Index'], axis=1)
testing_labels.humidity.fillna(value=np.mean(testing_labels.humidity), inplace = True)
testing_labels["zon.winds"].fillna(value=np.mean(testing_labels["zon.winds"]), inplace = True)
testing_labels["mer.winds"].fillna(value=np.mean(testing_labels["mer.winds"]), inplace = True)
testing_labels["air temp."].fillna(value=np.mean(testing_labels["air temp."]), inplace = True)
#print(testing_labels)
y_prediction_1997_1998 = gs_clf.predict(testing_labels)
y_prediction_1997_1998 = y_prediction_1997_1998.round(decimals=2)
y_prediction_1997_1998 = pd.Series(y_prediction_1997_1998)
y_prediction_1997_1998.to_csv("s.s.temp._1997_1998.csv", index=False)
y_prediction_1997_1998.head()

0    22.88
1    22.74
2    22.55
3    22.59
4    22.67
dtype: float64

In [14]:
testing_labels_1 = pd.read_csv("evaluation.csv")
#testing_labels_1 = testing_labels_1.drop(['Index'], axis=1)

testing_labels_1["humidity"].fillna(value=np.mean(testing_labels_1["humidity"]), inplace = True)
testing_labels_1["zon.winds"].fillna(value=np.mean(testing_labels_1["zon.winds"]), inplace = True)
testing_labels_1["mer.winds"].fillna(value=np.mean(testing_labels_1["mer.winds"]), inplace = True)
testing_labels_1["air temp."].fillna(value=np.mean(testing_labels_1["air temp."]), inplace = True)
#tl.humidity.fillna(value=np.mean(tl.humidity))
#tl["zon.winds"].fillna(value=np.mean(tl["zon.winds"]))
#tl["mer.winds"].fillna(value=np.mean(tl["mer.winds"]))
#tl["air temp."].fillna(value=np.mean(tl["air temp."]))
cols = ["year", "month", "day", "latitude", "longitude", "zon.winds", "mer.winds", "humidity", "air temp."]
tl2 = testing_labels_1[cols]
#print(tl2)
#print(testing_labels_1)
#print(testing_labels)
y_prediction_evaluation = gs_clf.predict(tl2)
y_prediction_evaluation = y_prediction_evaluation.round(decimals=2)
y_prediction_evaluation = pd.Series(y_prediction_evaluation)
y_prediction_evaluation.to_csv("s.s.temp._evaluation.csv", index=False)
y_prediction_evaluation.head()

0    29.86
1    28.67
2    26.06
3    29.23
4    29.61
dtype: float64

In [15]:
final_evaluation = pd.read_csv("evaluation.csv")
#final_evaluation = pd.DataFrame(evaluation)# {'s.s.temp.': y_prediction_evaluation})
final_evaluation['s.s.temp.']=y_prediction_evaluation
#{'s.s.temp.':.2f}
final_evaluation.to_csv('final_evaluation.csv', index=False)
final_evaluation.head()

,Unnamed: 0,year,month,day,latitude,longitude,zon.winds,mer.winds,humidity,air temp.,s.s.temp.
0,0,1995,6,22,2.00,165.0,-3.3,-1.9,79.4,28.95,29.86
1,1,1995,1,13,4.99,156.0,-3.5,-2.2,82.0,27.86,28.67
2,2,1995,7,9,-4.97,-125.0,-8.2,1.5,84.2,26.02,26.06
3,3,1996,7,17,8.01,165.0,-5.4,-1.0,84.1,28.38,29.23
4,4,1993,8,23,2.06,165.0,2.0,0.6,75.4,28.47,29.61

In [16]:
final_data_1997_1998 = pd.read_csv("data_1997_1998.csv")
final_data_1997_1998['s.s.temp.'] = y_prediction_1997_1998
#final_data_1997_1998=final_data_1997_1998['s.s.temp.'].round(decimals=2)
final_data_1997_1998.to_csv('final_data_1997_1998.csv', index=False)
final_data_1997_1998.head()

,Index,year,month,day,latitude,longitude,zon.winds,mer.winds,humidity,air temp.,s.s.temp.
0,0,1997,1,1,0.07,-110.0,-3.1,1.4,89.6,22.66,22.88
1,1,1997,1,2,0.07,-110.0,-2.8,3.0,86.8,22.45,22.74
2,2,1997,1,3,0.07,-110.0,-5.2,3.3,85.2,22.14,22.55
3,3,1997,1,4,0.07,-110.0,-5.7,1.6,86.8,22.19,22.59
4,4,1997,1,5,0.07,-110.0,-5.1,1.5,83.6,22.34,22.67